.stats {
    background-color: #f9f9f9;
    padding: 2rem 1rem;
  
    .stats-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 2rem;
      text-align: center;
    }
  
    .stat {
      background: white;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      h2 {
        font-size: 2rem;
        color: #004aad;
      }
  
      p {
        font-size: 1rem;
        color: #555;
      }
    }
  }
  